@import 'app/assets/styles/variables';

.legend {
	> div > span {
		display: flex;
		align-items: center;
		column-gap: 0.7rem;
		padding-left: 1rem;
		&::before {
			content: '';
			width: 0.75rem;
			height: 0.7rem;
			background-color: $white;
			border: 0.25rem solid;
			border-radius: 50%;
		}
		&:first-of-type {
			&::before {
				border-color: $purple;
			}
		}
		&:last-of-type {
			&::before {
				border-color: $light-blue;
			}
		}
	}
}
