.loader {
	@apply m-auto flex h-[520px] w-fit flex-col items-center justify-center;

	> svg {
		@apply relative top-[5px] right-2.5 h-20 w-20;
		animation: rotate 2s linear infinite;

		> circle {
			@apply stroke-purple;
			stroke-linecap: round;
			animation: dash 1.5s ease-in-out infinite;
		}
	}

	> span {
		@apply mt-5 text-center text-2xl font-medium;
	}

	@keyframes rotate {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes dash {
		0% {
			stroke-dasharray: 1, 150;
			stroke-dashoffset: 0;
		}
		50% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -35;
		}
		100% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -124;
		}
	}
}
