@import './card/card.module.scss';

.dashboard {
	// padding-left: 50px;
	// padding-bottom: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #22242c;
}
.container {
	margin-left: 50px;
	margin-top: 50px;
	padding-left: 50px;
}
.inner {
	display: flex;
	// justify-content: center;
	align-items: center;

	gap: 40px;
}
