@import './card/style.module.scss';

.dashboard {
	&__container {
		margin-left: 50px;
		margin-top: 50px;
		padding-left: 50px;

		// border-top: 1px solid #0070f3;
		// border-left: 1px solid #0070f3;
	}
	padding-left: 50px;
	padding-bottom: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #22242c;
	&__inner {
		display: flex;
		// justify-content: center;
		align-items: center;

		gap: 40px;
	}
}
