.settingsInput {
	@apply rounded-3xl border border-gray px-4 py-3 font-bold;
	&[disabled] {
		@apply border-transparent;
	}
	&:focus-visible {
		@apply border-transparent outline outline-2 outline-offset-0 outline-purple;
	}
	&::-webkit-calendar-picker-indicator {
		display: none;
	}
	&:not(:focus)::after {
		content: '';
		margin-top: 3px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #d9d9d9;
	}
}

.accountField {
	@apply flex flex-col space-y-2 col-span-1;

	> fieldTitle {
		@apply text-gray font-thin
	}
}
.leftContainer {
	@apply flex mt-10 w-1/4 flex-col border-r-[1px] border-gray
}
.rightContainer {
	@apply grid grid-cols-2 gap-8 bg-white p-10 rounded-3xl w-3/4
}

// .transaction-input[type='date']::-webkit-inner-spin-button,
// .transaction-input[type='date']
