@import 'app/assets/styles/variables';

.income {
	&__container {
		width: 448px;
		height: 329px;
		background: $white;
		border-radius: 40px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 32px;
		padding-top: 31px;
		padding-left: 129px;
	}

	&__total {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		color: $black;
		span {
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: $gray;
		}
		&::before {
			position: absolute;
			content: '';
			left: -98px;
			width: 80px;
			height: 80px;
			background-image: url('./img/Income.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-color: $purple;
			border-radius: 40px;
		}
	}
	&__changes {
		position: relative;
		padding-top: 15px;

		align-self: center;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		text-align: right;
		color: $green;
		span {
			display: block;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			text-align: right;
			color: $gray;
		}
		&::before {
			position: absolute;
			content: '';
			top: -5px;
			right: 20px;
			width: 24px;
			height: 24px;
			background-image: url('./img/changes.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
.chart__container {
	margin: 0px auto;
	max-height: 180px;
	width: 400px;
}
