@import 'app/assets/styles/_variables.scss';

.primary {
	color: $white;

	&.purple {
		border-color: $purple;
		background-color: $purple;
		&:hover {
			color: $purple;
		}
	}
	&.orange {
		border-color: $orange;
		background-color: $orange;
		&:hover {
			color: $orange;
		}
	}
	&.green {
		border-color: $green;
		background-color: $green;
		&:hover {
			color: $green;
		}
	}
	&.black {
		border-color: $black;
		background-color: $black;
		&:hover {
			color: $black;
		}
	}
	&.red {
		border-color: $red;
		background-color: $red;
		&:hover {
			color: $red;
		}
	}
	&.gray {
		border-color: $gray;
		background-color: $gray;
		&:hover {
			color: $gray;
		}
	}
	&.light-blue {
		border-color: $light-blue;
		background-color: $light-blue;
		&:hover {
			color: $light-blue;
		}
	}
	&.light-gray {
		border-color: $light-gray;
		background-color: $light-gray;
		&:hover {
			color: $light-gray;
		}
	}

	&:hover {
		background-color: $white;
	}
}

.secondary {
	background-color: $white;

	&.purple {
		border-color: $purple;
		color: $purple;
		&:hover {
			background-color: $purple;
		}
	}
	&.orange {
		border-color: $orange;
		color: $orange;
		&:hover {
			background-color: $orange;
		}
	}
	&.green {
		border-color: $green;
		color: $green;
		&:hover {
			background-color: $green;
		}
	}
	&.black {
		border-color: $black;
		color: $black;
		&:hover {
			background-color: $black;
		}
	}
	&.red {
		border-color: $red;
		color: $red;
		&:hover {
			background-color: $red;
		}
	}
	&.gray {
		border-color: $gray;
		color: $gray;
		&:hover {
			background-color: $gray;
		}
	}
	&.light-blue {
		border-color: $light-blue;
		color: $light-blue;
		&:hover {
			background-color: $light-blue;
		}
	}
	&.light-gray {
		border-color: $light-gray;
		color: $light-gray;
		&:hover {
			background-color: $light-gray;
		}
	}

	&:hover {
		color: $white;
	}
}

.tertiary {
	border-color: transparent;
	background-color: $light-gray;

	&.purple {
		color: $purple;
		&:hover {
			border-color: $purple;
		}
	}
	&.orange {
		color: $orange;
		&:hover {
			border-color: $orange;
		}
	}
	&.green {
		color: $green;
		&:hover {
			border-color: $green;
		}
	}
	&.black {
		color: $black;
		&:hover {
			border-color: $black;
		}
	}
	&.red {
		color: $red;
		&:hover {
			border-color: $red;
		}
	}
	&.gray {
		color: $gray;
		&:hover {
			border-color: $gray;
		}
	}
	&.light-blue {
		color: $light-blue;
		&:hover {
			border-color: $light-blue;
		}
	}
	&.light-gray {
		&:hover {
			border-color: $purple;
		}
	}
}
